@media screen and (max-width: 768px) {
    h1 {
        font-size: 23px; 
         }
  

    .logo {
        margin: auto;
    } 

    .nav{
        flex-direction: column;
        height: unset;
        align-items: center;
    }

    .menu{
        border-bottom: solid rgb(220 220 220 / 56%);
        width: 100%;
    }

    .element_menu:hover {
        border-bottom: solid;
        border-top: none;
    }

    .element_menu {
        display: flex;
        width: 100%;
        justify-content:center ;
        padding-bottom: 20px;
    }

    .description {
        font-size: 17px;
    }

    .menu li {
        width: 50%;
    }

    .titles{
        margin: 45px 17px;
    }

    .search_disabled {
        display: none;
    }

    .border_search {
        justify-content: left;
        margin-left: 21px;
    }

    .magnifying_glass_none {
        display: flex;

    }

    .filters{
        margin-left: 25px;
    }

    .size_lodging {
        width: 100%;
    }

    .lodging_card {
        width: 95%;
    }

    .back_grey {
        background-color:#f2f2f2f2;
    }

    .lodging_back {
        margin-left: 0px;
    }

    .bloc_lodging {
        padding-left: 35px;
    }

    .lodging_card_details {
        width: 95%;
    }

    
    


}


