@media screen and (max-width: 768px) {
    h1 {
        font-size: 23px; 
         }
  

    .logo {
        margin: auto;
    } 

    .nav{
        flex-direction: column;
        height: unset;
        align-items: center;
    }

    .menu{
        border-bottom: solid rgb(220 220 220 / 56%);
        width: 100%;
    }

    .element_menu:hover {
        border-bottom: solid;
        border-top: none;
    }

    .element_menu {
        display: flex;
        width: 100%;
        justify-content:center ;
        padding-bottom: 20px;
    }

    .description {
        font-size: 17px;
    }

    .menu li {
        width: 50%;
    }

    .titles{
        margin: 45px 17px;
    }

    .search_disabled {
        display: none;
    }

    .border_search {
        justify-content: left;
        margin-left: 21px;
    }

    .magnifying_glass_none {
        display: flex;

    }

    .filters{
        margin-left: 25px;
    }

    .size_lodging {
        border-radius: 0;
    }

    .lodging_card {
        width: 100%;
    }

    .back_grey {
        background-color:#f2f2f2f2;
    }

    .lodging_back {
        margin-left: 0px;
        flex-direction: column-reverse;
    }

    .bloc_lodging {
        width: 100%;
    }

    .lodging_card_details {
        width: 95%;
    }

    .info {
        margin-left: 20px;
    }

    .size_popular {
        border-radius: 0;
    }

    .lodging {
        justify-content: center;
    }

    .img_lodging_1{
        height: 220px;
    }

    .img_lodging_2{
        height: 220px;
    }

    .img_lodging_3{
        height: 220px;
    }

    .img_lodging_4{
        height: 220px;
    }

    .img_lodging_5{
        height: 220px;
    }

    .img_lodging_6{
        height: 220px;
    }

    .phone_disposition {
        padding: 30px;
        margin-top: 0px;
    }

    .activities_unit_2{
        width: 100%;
        height: unset;
    }

    .Activities_settings {
        width: 100%;
        margin-bottom: 30px;
    }

    .activities_unit {
        height: unset;
    }

    .phone_activities_position {
        flex-direction: column;
    }

    .img_activities_1 {
        height: 150px;
    }

    .img_activities_2 {
        height: 150px;
    }

    .img_activities_3 {
        height: 150px;
    }

    .img_activities_4 {
        height: 150px;
    }

    .img_activities_5 {
        height: 150px;
    }

    .img_activities_6 {
        height: 150px;
    }

    .img_activities_settings{
        margin-bottom: 30px;
    }

    .title_marseille {
        margin-left: 0px;
    }

    
    


}


