@media screen and (max-width: 992px) {
    h1{
        font-size: 25px;
    }

    .description{
        font-size: 18px;
    }

    .logo{
        margin-top: 40px;
        margin-left: 50px;
    }

    .filter {
        flex-wrap: wrap;
        margin-top: 15px;
    margin-left: 0px; 
    }

    .filters{
        flex-direction: column;
    align-items: start;
    margin-top: 40px; 
    }

    .filter_text_icons{
        margin-bottom: 15px;
    }

    .lodging_back {
        margin-left: 0px;
    }

    .tablet_disposition {
        flex-direction:column-reverse;
        width: 100%;
        align-items: center;
    }

    .tablet_popular {
        display: flex;  
        width: 90%;
        margin-top: 30px;
        margin-right: 35px;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .size_lodging {
        width: 90%;
    }

    .popular_img_3 {
        width: 24%;
    }

    .Activities_settings {
        height: 50%;
    }

    .img_activities_5_settings {
        height: 50%;
    }

    .activities_unit {
        align-items: flex-start;
    }

    .img_activities_3_settings {
        width: 339px;
        height: 193.19px;
        margin-bottom: 80px;
        align-self: end;
    }

    .img_activities_6_settings {
        width: 339px;
        height: 193.19px;
        margin-bottom: 80px;
        align-self: end;
        
    }

    .footer_ul_3 {
        margin-right: 100px;
    }

    .footer_ul_2 {
        margin-right: 0px;
    }

}
