/* global-css */

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

body{
    min-width: 350px;
    max-width: 1500px;
    margin: auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 115px;
}

.logo {
    margin-top: 55px;
    margin-left: 65px;
}

.menu {
    align-items: center;
    display: flex;
    list-style: none;
}

.element_menu {
    color: #242323;
    font-weight: 500;
    text-decoration: none;
    padding: 45px;
}

.element_menu:hover {
    color: #0065FC;
    border-top:solid;
}

.titles{
    margin: 45px 45px;
}

h1 {
    font-weight: 800;
}

.description {
    font-size: 23px;
    font-weight: 500;
}

