/* global-css */

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

body{
    min-width: 350px;
    max-width: 1500px;
    margin: auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 115px;
}

.logo {
    margin-top: 55px;
    margin-left: 65px;
}

.menu {
    align-items: center;
    display: flex;
    list-style: none;
}

.element_menu {
    color: #242323;
    font-weight: 500;
    text-decoration: none;
    padding: 45px;
}

.element_menu:hover {
    color: #0065FC;
    border-top:solid;
}

.titles{
    margin: 45px 45px;
}

h1 {
    font-weight: 800;
}

.description {
    font-size: 23px;
    font-weight: 500;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_between {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.flex_around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex_column_center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex_column_between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.flex_column_around {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.flex_start {
    justify-content: flex-start;
}

.color_blue {
    color: #0065FC;
}

.back_grey {
    background-color: #f2f2f2;
}

.color_grey {
    color: #f2f2f2;
}

.bold {
    font-weight: bold;
}

/* search */

.icon {
    height: 50px;
    width: 50px;
    background-color:#f2f2f2 ;
    border-radius: 10px 0px 0px 10px;
}

.padding_search {
    padding-left: 20px;
}

.search {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: 0.5px solid #f2f2f2;
}

.border_search {
    width: 400px;
    border-radius: 10px;
    margin-left: 45px;
}


.button_search {
    height: 50px;
    width: 120px;
    background-color: #0065FC;
    color: white;
    cursor: pointer;
    border-radius: 0px 10px 10px 0;
    font-weight: bold;
    border: none;
    margin-left: -7px;

}

.search::placeholder{
    color:black;
}

.text_overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* filtres */

.filters{
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.filter_font {
    font-weight: bold;
    font-size: larger;
}

.margin_filter {
    margin-top: 50px;
    margin-bottom:40px ;
}

.filter {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.margin_title {
    margin-right: 20px;
}

.filter_text_icons {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.filter_text_icons:hover > .filter_text {
    color: #0065FC;
}

.filter_text_icons:hover > .filter_icon {
    color:white;
    background-color: #0065FC;
}

.filter_text {
    height: 50px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 0px 25px 25px 0px;
    font-weight: 800;
}

.filter_icon {
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #deebff;
}

.magnifying_glass_none {
    display: none;
    width: 50px;
    border-radius: 13px;
}

/* info */

.info {
    display:flex ;
    align-items: center;
    margin-left: 50px;
}

.parent_icon {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}

.info_text_size {
    font-weight: 400;
}

/* hébergements */

.size_lodging {
    justify-content: flex-start;
    border-radius: 20px;
    width: 70%;
}


.bloc_lodging {
    padding: 25px;
}

.lodging_card {
    width: 30%;
    height: 215px;
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lodging_card_details {
    padding-left: 10px;
    font-size: 15px;
    line-height: 25px;
}


.img_lodging_common {
    width : 100%;
    height:125px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}


.lodging_back {
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
    display: flex;
}

.lodging_title {
    font-weight: 700;
    font-size: 20px;
}

.card_title {
    font-weight: 700;
    font-size: 16px;
}

.card_text {
    font-weight: 400;
}


.lodging_position {
    margin-top: 20px;
}

.lodging {
    flex-wrap: wrap;
    justify-content: space-between;
}

/* les plus populaires */


.img_popular_common {
    width : 100%;
    height: 145px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    margin-top: 6px;
}

.popular_position {
    flex-direction: column;
}

.star_position {
    margin-bottom: 10px;
}

.popular_img_settings {
    width: 62%;
}

.popular_card {
    width: 100%;
    height: 155px;
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    margin-bottom: 30px;
    flex-direction: row;
}

.popular_card_details {
    width: 95%;
    font-size: 15px;
    line-height: 25px;
    margin-top: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px; 
   }


.popular_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.size_popular{
    border-radius: 20px;
    margin-left: 35px;
    width: 32%;
}

/* activities */

.activities {
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 35px;
    margin-right: 35px;
}

.title_marseille {
    margin-bottom: 25px;
    margin-left: 15px;
}

.activities_unit {
    width: 100%;
    height: 600px;
}

.activities_unit_2 {
    width: 23%;
    height: 100%;
}


.Activities_settings {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    height: 100%;
}

.img_activities_settings {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    
}

.title_activities {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}

.title_height {
    height: 70px;
}

.img_activities {
    width : 100%;
    height: calc( 100% - 70px );
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}


.img_activities_2_settings {
    height: 50%;
}

.img_activities_3_settings {
    height: 43%;
    margin-top: 7%;
}

.img_activities_5_settings {
    height: 46.50%;
}

.img_activities_6_settings {
    height: 46.50%;
    margin-top: 7%;
}

/* footer */

.footer_settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 33px;
    height: 230px;

}

.footer_text_size {
    font-weight: 400;
    font-size: medium;
}

.list_style {
    list-style-type: none;
}

.footer_ul_1 {
    margin-left: 40px;
}

.footer_ul_2 {
    margin-right: 80px;
}

.footer_ul_3 {
    margin-right: 335px;
}
